@model IEnumerable<MyStoreProject.Models.Loai>


<div class="nav-top">
    <nav class="navbar navbar-default">

        <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav ">
                <li class=" active"><a href="index.html" class="hyper "><span>Home</span></a></li>

                @{
                    var dsLoaiCha = Model.Where(p => p.MaLoaiCha == 0).ToList();
                }
                @foreach (var lo in dsLoaiCha)
                {
                    var dsLoaiCon = Model.Where(p => p.MaLoaiCha == lo.MaLoai).ToList();
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>@lo.TenLoai<b class="caret"></b></span></a>
                        <ul class="dropdown-menu multi">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="multi-column-dropdown">
                                        @foreach (var loaiCon in dsLoaiCon)
                                        {
                                            <li><a asp-controller="HangHoa" asp-action="Index" 
asp-route-maLoai="@loaiCon.MaLoai">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>@loaiCon.TenLoai</a>
                                        </li>
                                        }
                                    </ul>

                                </div>
                                <div class="col-sm-6 w3l">
                                    <a href="kitchen.html"><img src="images/me.png" class="img-responsive" alt=""></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                }                

                <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
            </ul>
        </div>
    </nav>
    <div class="cart">

        <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
    </div>
    <div class="clearfix"></div>
</div>
